@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

:root {
	--surface: #0f172a;
	--surface-soft: #111827;
	--text: #e2e8f0;
	--muted: #94a3b8;
	--primary: #2e2e2e;
	--primary-strong: #2e2e2e;
}

body {
	margin: 0;
	font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
	background: var(--surface);
	color: var(--text);
}
