.field {
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.p-error {
  color: var(--red-500);
  font-size: 0.875rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.gap-2 {
  gap: 0.5rem;
}
